html {
	font-family: 'Ubuntu Condensed', sans-serif;
}

.header-nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}
.nav-item {
	float: left;
}

.nav-item a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* Change link color to (black) on hover */
.nav-item a:hover:not(.active) {
	background-color: #111;
}

.active {
	background-color: #87CEFA;
}

h1 {
	font-family: 'Ubuntu', sans-serif;
}